body {
    font-family: "Roboto";
    font-weight: 300;
    position: relative;

    background: -webkit-linear-gradient(left, #3931af, #00aeff)
}

input[type="file"] {
    display: none;
}

.title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
}


.button {
    display: inline-block;

    border: none;
    border-radius: 28px;
    padding: 10px 50px;

    background-color: #0062cc;

    color: white;
    font-weight: 300;
    text-align: center;

    height: 48px;
    width: 300px;

    cursor: pointer;
}

.main-screen {
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


.main-screen__content {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.main-screen__left-content {
    width: 50%;
    height: 100vh;
    padding: 0 15% 20px 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;
    line-height: 1.5;
}

    .left-content__mai-logo {
        width: 180px;
        margin-bottom: 30px;
    }


.main-screen__right-content {
    width: 50%;
    height: 60vh;
    
    padding: 0 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-top-left-radius: 20% 50%;
    border-bottom-left-radius: 20% 50%;

    background: #f8f9fa;
}

    .right-content_part {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .right-content_part:last-child {
        margin-bottom: 0;
    }

    .right-content__title {
        color: #333;
        margin-bottom: 50px;
    }

    .right-content__upload-form {
        display: flex;
        justify-content: center;
    }

    .right-content__upload-file-label {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .right-content__upload-file-label::before {
            content: url('../images/upload.png');
            margin-right: 10px;
        }


    .right-content_part__back-to-main-button {
        margin-top: 40px;
        align-items: center;
    }


@media screen and (max-width: 992px) { 
    body {
        background: #f8f9fa;
    }

    .main-screen {
        display: block;
    }

    .main-screen__content {
        flex-direction: column;
    }

    .main-screen__left-content {
        height: 100px;
        width: 100%;

        padding: 20px 20px;
        flex-direction: row;
        background: -webkit-linear-gradient(left, #3931af, #00aeff)
    }

        .left-content__description {
            display: none;
        }

        .left-content__title {
            margin-bottom: 0;
        }

        .left-content__mai-logo {
            height: 59px;
            width: 60px;
            margin-bottom: 0;
            margin-right: 20px;
        }

    .main-screen__right-content {
        height: calc(100vh - 100px);
        width: 100%;

        padding: 30px 20px;
    }
}